* {
  box-sizing: border-box;
}

:root {
  --background-header-color: #fff4f2;
  --header-color: #ff0090;
  --answer-selection-color: #8a00ff;
  --answer-button-color: #ff0065;
  --hover-color: #880088;
  --question-background-color: #ffdae0;
  --bookmark-color: #fb8e63;
}
