* {
  box-sizing: border-box;
}

header {
  background-color: #fff4f2;
  padding: 30px;
  border-radius: 5px;
  text-align: center;
}

h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 60px;
  color: #ff63e9;
}

p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  color: #ff63e9;
}
