footer {
  bottom: 0;
  background-color: var(--background-header-color);
  width: 100%;
  display: flex;
  position: fixed;
  justify-content: space-around;
  left: 0;
}

a {
  color: var(--header-color);
}

a:hover {
  cursor: pointer;
}

.bookmark {
  background-color: var(--bookmark-color);
  height: 40px;
  width: 30px;
  border-radius: 0 0 20px 20px;
  position: absolute;
  top: 0;
  left: 40px;
}

.bookmark--active {
  background-color: #ffff00;
}

.nav-icon {
  width: 50px;
  margin-top: 5px;
}

.icon--aktiv {
  width: 50px;
  margin-top: 5px;
  border-radius: 30px;
  border: 2px solid var(--answer-selection-color);
}
